$primary-color: #212529;
$secondary-color: #FFFFFF;
$tertiary-color: #EBC351;
$accent-color: #C7A418;
$footer-background: #462E09;
$footer-background-dark: #61500C;
$btn-color: #462E09;
$font-family-primary: 'Barlow', sans-serif;
$font-size-base: 1rem;
$padding-regular: 1rem;
$margin-bottom-regular: 1rem;
$border-radius: 0.5rem;
$transition-duration: 0.3s;
$scale-factor: 1.1;
$modal-bg: #fff;
$modal-shadow: rgba(0, 0, 0, 0.3);
$modal-max-width: 37.5rem;
$modal-padding: 1em;
$modal-border-color: #DEE2E6;
$close-button-size: 1.5em;
$heading-color: #FFFFFF;
$subheading-color: #462E09;
$nav-link-color: #202020;
$form-border-color: #CED4DA;
$dark-primary-color: #212529;
$dark-secondary-color: #fff;
$dark-accent-color: #61500C;
$dark-modal-bg: #212529;
$dark-modal-border-color: #DEE2E6;